.HelperLinksSection{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    text-align: center;

    
}

.Helper{
    margin-bottom: 2%;
    font-size: large;
    color: grey;
    cursor: pointer;
    text-decoration: none;

}